<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<script type="text/javascript" src="../public/javascripts/jquery-1.12.0.min.js"></script>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
	<style type="text/css">
		h3{font-size: 2.5em;margin-left: 15px;}
		section{
			margin-top: 50px;
			vertical-align: middle;
			text-align: center;
		}
		table {
			margin: 0 auto;
		}
		section>form{
			font-size: 1.5em;
		}
	</style>
</head>
<body>
	<header>
		<h3>注册</h3>
	</header>
	<hr />
	<section>
		<p></p>
		<form method="post" action="/signup">
			<table>
				<tr>
					<td><label>username:</label></td>
					<td><input id="user_name" name="user_name" type="text" required /></td>
				</tr>
				<tr>
					<td><label>email:</label></td>
					<td><input id="email" name="email" type="email" required placeholder="exeample@163.com" /></td>
				</tr>
				<tr>
					<td><label>password:</label></td>
					<td><input id="password" name="password" type="password" required  /></td>
				</tr>
				<tr>
					<td><label>repassword:</label></td>
					<td><input id="repassword" name="repassword" type="password" required  /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="注册" /></td>
				</tr>
			</table>
		</form>
	</section>
	<div class="pages">
        <a href="/">首页</a>
        <a onclick="history.back();">后退</a>
        <a onclick="history.forward();">前进</a>
    </div>
	<script type="text/javascript">
		/*$(function(){
			$('input[type="submit"]').click(function(){
				var email = $('#email').val();
				var password = $('#password').val();
				var repassword = $('#repassword').val();
				if(password != repassword){
					$('#password').val('');
					$('#repassword').val('');
					$('section p').css('color','red').html("两次密码不一致，重新输入");
				}else if(password == repassword){
					var data = {"email":email,"password":password};
		            $.ajax({ 
		                url: '/signup',
		                type: 'post',
		                data: data,
		                success: function(data,status){ 
		                    if(status == 'success'){ 
		                        location.href = '/';
		                    }
		                },
		                error: function(data,err){ 
		                        location.href = 'signup';
		                }
		            }); 
				}
			});
		});*/
	</script>
</body>
</html>