.aside {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	width: 30%;
	min-height: 500px;
}
.section {
	width: 56.8%;
	min-height: 606px;
	margin-top: 15px;
	margin-left: 15px;
	padding-left: 5%;
	padding-top: 40px;
	color: #787d82;
}
.section:after {
	content: '';
	display: block;
	clear: both;
}
.section h3 {
	padding: 0 15px;
	font-size: 1.3em;
	margin-bottom: 40px;
	color: #14191e;
}
.section div.row {
	margin: 40px 0 30px 15px;
}
.section div.row span:first-child {
	display: inline-block;
	width: 5%;
	text-align: right;
}
.section div.row input,
.section div.row textarea {
    line-height: 20px;
    padding: 6px 12px;
	display: inline-block;
	width: 85%;
	margin-left: 15px;
}

.section .row:last-child input {
	margin-left: 120px;
	width: 85px;
}
.section select {
	margin-left: 15px;
    line-height: 20px;
    padding: 6px 12px;
}
.section textarea + div.wangEditor-container {
	position: relative;
	min-height: 370px;
	max-height: 740px;
	left: 60px;
	top: -15px;
}
.section textarea + .wangEditor-container .wangEditor-menu-container {
	height: 65px;
}
.section textarea + .wangEditor-container .wangEditor-txt {
	min-height: 315px;
	max-height: 675px;
}
#thumbnail~i {
	cursor: pointer;
	position: relative;
	top: -69px;
	left: -7px;
	color: #fff;
	padding: 2px 0px 0px 3px;
	width: 15px;
	height: 15px;
	background: red;
	border-radius: 15px;
	display: inline-block;
	transform: rotate(45deg);
};