.cred {
	color: red;
	padding-right: 4px;
	font-size: 1.3em;
}
.aside {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	width: 30%;
	min-height: 500px;
}
.section {
	width: 56.8%;
	min-height: 606px;
	margin-top: 15px;
	margin-left: 15px;
	padding-left: 5%;
	padding-top: 40px;
	color: #787d82;
}
.section:after {
	content: '';
	display: block;
	clear: both;
}
.section h3 {
	padding: 0 15px;
	font-size: 1.3em;
	margin-bottom: 40px;
	color: #14191e;
}
.section div.row {
	margin: 40px 0 30px 15px;
}
.section div.row span:first-child {
	display: inline-block;
	width: 6%;
	text-align: right;
}
.section div.row input,
.section div.row textarea,
#labels {
    line-height: 20px;
    padding: 6px 12px;
	display: inline-block;
	width: 85%;
	margin-left: 15px;
}
#labels label {
	display: inline-block;
	font-size: 0.9em;
	cursor: pointer;
    background: #edf1f2;
    height: 24px;
    padding: 5px 6px 5px 10px;
    line-height: 24px;
    color: #787d82;
    text-align: center;
    margin-right: 2px;
    margin-top: 2px;
}
#labels label:hover {
    color: #14191e;
    background-color: #D0D6D9;
}
.label-active {
    color: #14191e !important;
    background-color: #D0D6D9 !important;
}
.section .row:last-child input {
	margin-left: 120px;
	width: 85px;
}
.section select {
	border-radius: 3px;
	margin-left: 15px;
    line-height: 20px;
    padding: 6px 12px;
}
.section textarea + div.wangEditor-container {
	border-radius: 3px;
	position: relative;
	min-height: 370px;
	max-height: 740px;
	left: 65px;
	top: -15px;
}
.section textarea + .wangEditor-container .wangEditor-menu-container {
	height: 65px;
}
.section textarea + .wangEditor-container .wangEditor-txt {
	min-height: 315px;
	max-height: 675px;
}
#thumbnail~i {
	font-size: 0.5em;
	cursor: pointer;
	position: relative;
	top: -76px;
	left: -7px;
	color: #fff;
	padding: 3px 0px 0px 3px;
	width: 13px;
	height: 13px;
	background: rgba(255, 0, 0, .75);
	border-radius: 15px;
	display: inline-block;
	transform: rotate(45deg);
};