body {
	margin: 0 0 30px 0;
}
body header {
	margin-left: 25px;
}
body>section {
	text-align: center;
}
article{
	width: 80%;
	word-wrap: break-word;
	margin: 110px 150px;
	text-align: left;
}
section div {
	margin-top: 50px;
}
a{
	text-decoration: none;
}
p>span {
	display: inline-block;
	margin: 0 10px;
}
em {
	color: #800080;
}
span span{
	color: #4180E8;
}
header div{
	position: absolute;
	right: 30px;
	top: 30px;
}
h2{margin: 0; padding: 15px;font-size: 1.8em;margin-left: 15px;display: inline-block; height: 30px;}
.align-right {
	text-align: right;
	margin-right: 10px;
}
.delete-btn {
	float: right;
    color: #b5b9bc;
    margin-right: 22px;
    cursor: pointer; 
}
.footer {
	margin-top: 10px;
}