<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/css/common.css">
	<link rel="stylesheet" type="text/css" href="/public/css/jquery-te-1.4.0.css">
	<link rel="stylesheet" type="text/css" href="/public/css/article_create.css">
	<title><%= title %></title>
</head>
<body>
	<% include common/_header %>
    <section class="container">
        <aside class="aside"></aside>
        <section class="section">
           
        </section>
    </section>
    <%- include common/_footer %>
	<script type="text/javascript" src="/public/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="/public/js/jquery-te-1.4.0.min.js"></script>
	<script type="text/javascript" src="/public/js/common.js"></script>
</body>
</html>