<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
	<style type="text/css">
		body{
			font-size: 14px;
			font-style: "微软雅黑";
		}
		h3{font-size: 2.5em;margin-left: 15px;}
		section{
			margin-top: 50px;
			vertical-align: middle;
			text-align: center;
		}
		section>form{
			font-size: 1.5em;
		}
	</style>
</head>
<body>
	<header>
		<h3>登录</h3>
	</header>
	<hr />
	<section>
		<p></p>
		<form method="post" action="/login">
			<label>email:</label>
			<input id="email" name="email" type="email" required placeholder="exeample@163.com" />
			<br /><br />

			<label>password:</label>
			<input id="password" name="password" type="password" required  />
			<br /><br />

			<input type="submit" value="登录" />
		</form>
	</section>
	<div class="pages">
        <a href="/">首页</a>
        <a onclick="history.back();">后退</a>
        <a onclick="history.forward();">前进</a>
    </div>

	<script type="text/javascript" src="public/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript">
		/*$(function(){
			$('input[type="submit"]').click(function(){
				var email = $('#email').val();
				var password = $('#password').val();
				
				var data = {"email":email,"password":password};
	            $.ajax({ 
	                url: '/login',
	                type: 'post',
	                data: data,
	                success: function(data,status){ 
	                    if(status == 'success'){ 
	                        location.href = 'index';
	                    }
	                },
	                error: function(data,err){ 
	                        location.href = 'login';
	                }
	            }); 
			});
		});*/
	</script>
</body>
</html>