<header class="main-head">
	<h3 class="logo">XDUBlog</h3>
	<ul class="main-nav">
		<li>
			<form class="" action="/index" method="get">
				<input type="text" name="keyword" placeholder="输入标题或作者" class="">
				<button type="submit" class="btn btn-green"><i class="icon-search"></i></span>&nbsp;&nbsp;搜索</button>
			</form>
		</li>
		<% if(isLogin) {%>
			<li><a href="/">首页</a></li>
			<li>
				<a id="welcome" data-user-id=<%= user.user_id %>>
					欢迎您，<%= user.user_name %>
					&nbsp;&nbsp;
					<i class="icon-caret-down"></i>
				</a>
				<ul class="mine">
					<!-- <li><a href="#"><i class="icon-user"></i>&nbsp;&nbsp;个人资料</a></li> -->
					<li><a href="/managePass"><i class="icon-cog">&nbsp;&nbsp;</i>个人管理</a></li>
					<li><a href="/index?keyword=<%= user.user_name %>"><i class="icon-edit"></i>&nbsp;&nbsp;我的文章</a></li>
					<li><a href="/myCollection"><i class="icon-bookmark">&nbsp;&nbsp;</i>我的收藏</a></li>
					<li><a href="/logout"><i class="icon-off"></i>&nbsp;&nbsp;退出登录</a></li>
				</ul>
			</li>
		<% } else { %>
			<li><a href="/">首页</a></li>
			<li><a id="btn-login">登录</a></li>
			<li><a id="btn-signup">注册</a></li>
		<% } %>
	</ul>
</header>
<div class="overlay hid">
	<div class="form">
		<div class="row-self">
			<span>注册</span>
			<span>登录</span>
		</div>
		<div class="row-self msg">
			<p id="msg">用户名或密码错误</p>
		</div>
		<div class="row-self">
			<label class="">用户名<i class="icon-user"></i></label>
			<input data-status="false" id="username" class="col-md-5" name="username" type="text" placeholder="请输入用户名" required />
			<i></i>
		</div>
		<div class="row-self">
			<label class="">邮箱<i class="icon-envelope"></i></label>
			<input data-status="false" id="email" class="col-md-5" name="email" type="email" placeholder="example@163.com" required />
			<i></i>
		</div>
		<div class="row-self">
			<label class="">密码<i class="icon-lock"></i></label>
			<input data-status="false" id="password" class="col-md-5" name="password" type="password" placeholder="不少于5个字符" required />
			<i></i>
		</div>
		<div class="row-self">
			<label class="">确认密码<i class="icon-key"></i></label>
			<input data-status="false" id="repass" class="col-md-5" name="repass" type="password" placeholder="再次输入密码" required />
			<i></i>
		</div>
		<div class="row-self">
			<label class="">验证码<i class="icon-spinner"></i></label>
			<input data-status="false" max="4" id="captcha" class="col-md-5" name="captcha" type="text" required />
			<i></i>
		</div>
		<div class="row-self">
			<label class=""></label>
			<img id="captcha-img" style="margin-bottom: -6px;" src="/captcha/get?width=120&height=35" alt="" height="40" width="120">
			<a class="btn-captcha" href="javascript:;" onclick="change()">看不清，换一张</a>
		</div>
		<div class="row-self">
			<button id="cancel" type="button" class="btn btn-default">取消</button>
			<button id="submit" type="button" class="btn btn-green">注册</button>
		</div>
	</div>
</div>
<div id="main-msg" class="msg">
	<span></span>
</div>
<form class="confirm hid" action="" method="post">
	<h3>确定要删除吗？</h3>
	<br /><br />
	<input class="btn btn-blue btn-red" id="confirm" type="submit" value="删除" />
	&nbsp;
	<input class="btn btn-default" type="button" value="取消" onclick="closeOverlay();" />
</form>